.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    top: 0;
    position: sticky;
}
.skill-title{
    padding-top: 15rem;
    font-size: 3rem;
    color: white;
    padding-left: 2rem;
}
.skill-title span{
    color: #FF204E;
    font-weight: 500;
}
.slide-container-1{
    margin-top: 3rem;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
}
.polygon1{
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: 70%;
    background-color: rgb(255,255,255,0.25);
    display: flex;
    align-items: center;
}
.polygon-about-details-1{
    height: 100%;
    width: 69%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}
.polygon-about-details-1 h1{
    font-size: 3rem;
}
.polygon-about-details-1 p{
    font-size: 1.5rem;
}
.polygon-about-details-1 span{
    color: #FFF7F1;
}
.slide-container-2{
    margin-top: 3rem;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: end;
}
.polygon2{
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    width: 70%;
    background-color: rgb(225, 152, 152,0.6);
    display: flex;
    align-items: center;
    justify-content: end;
}
.polygon-about-details-2{
    height: 100%;
    width: 75%;
    padding: 1rem;
    text-align:center;
}
.polygon-about-details-2 h1{
    font-size: 3rem;
}
.polygon-about-details-2 p{
    font-size: 1.4rem;
}
.polygon-about-details-2 span{
    color: #A1EEBD;
}
.polygon-about-details-2 li{
    font-size: 1.2rem;
    padding: 0.8rem;
}
.popup-container-3{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.polygon3{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    height: 30rem;
    width: 45rem;
    transform: translateX(-13rem);
    background-color: rgb(255, 190, 152,0.6);
}
.polygon-about-details-3{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}
.polygon-about-details-3 h1{
    font-size: 3rem;
}
.polygon-about-details-3 p{
    font-size: 1.4rem;
}
.polygon-about-details-3 span{
    color: #7743DB;
}
.child img{
    height: 14rem;
    width: 14rem;
}

@media screen and (max-width:1200px) {
    .skill-title{
        margin-top: 10rem;
        font-size: 3rem;
        width: 100%;
    }
    .polygon1{
        clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 20rem;
    }
    .polygon-about-details-1{
        padding: 1rem;
        width: 80%;
    }
    .polygon-about-details-1 h1{
        font-size: 2rem;
    }
    .polygon-about-details-1 p{
        font-size: 1.2rem;
    }
    .polygon2{
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 25rem;
    }
    .polygon-about-details-2{
        width: 90%;
        padding: 1rem;
    }
    .polygon-about-details-2 h1{
        font-size: 2rem;
    }
    .polygon-about-details-2 p{
        font-size: 1.2rem;
    }
    .polygon-about-details-2 li{
        font-size: 1rem;
    }
    .polygon3{
        height: 18rem;
        width: 90%;
        transform: translateX(0);
    }
    .polygon-about-details-3{
        height:75%;
        width:100%;
        overflow: hidden;
        padding: 0.4rem;
    }
    .polygon-about-details-3 h1{
        font-size: 2rem;
    }
    .polygon-about-details-3 p{
        font-size: 1.2rem;
    }
    .child img{
        height: 8rem;
        width: 8rem;
        transform: translateX(19rem);
    }
}
@media screen and (max-width:1100px){
    .child img{
        height: 8rem;
        width: 8rem;
        transform: translateX(17rem);
    }
}
@media screen and (max-width:1000px) {
    .skill-title{
        margin-top: 10rem;
        font-size: 2.8rem;
        width: 100%;
    }
    .polygon1{
        clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 20rem;
    }
    .polygon-about-details-1{
        padding: 1rem;
        width: 80%;
    }
    .polygon-about-details-1 h1{
        font-size: 2rem;
    }
    .polygon-about-details-1 p{
        font-size: 1.2rem;
    }
    .polygon2{
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 25rem;
    }
    .polygon-about-details-2{
        width: 90%;
        padding: 1rem;
    }
    .polygon-about-details-2 h1{
        font-size: 2rem;
    }
    .polygon-about-details-2 p{
        font-size: 1.2rem;
    }
    .polygon-about-details-2 li{
        font-size: 1rem;
    }
    .polygon3{
        height: 18rem;
        width: 90%;
        transform: translateX(0);
    }
    .polygon-about-details-3{
        height:75%;
        width:100%;
        overflow: hidden;
        padding: 0.4rem;
    }
    .polygon-about-details-3 h1{
        font-size: 1.8rem;
    }
    .polygon-about-details-3 p{
        font-size: 1rem;
    }
    .child img{
        height: 8rem;
        width: 8rem;
        transform: translateX(17rem);
    }
}
@media screen and (max-width:950px) {
    .child img{
        height: 7rem;
        width: 7rem;
        transform: translateX(14rem);
    }
}
@media screen and (max-width:800px) {
    .skill-title{
        margin-top: 10rem;
        font-size: 2.8rem;
        width: 100%;
    }
    .polygon1{
        clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 20rem;
    }
    .polygon-about-details-1{
        padding: 1rem;
    }
    .polygon-about-details-1 h1{
        font-size: 1.8rem;
    }
    .polygon-about-details-1 p{
        font-size: 1.2rem;
    }
    .polygon2{
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 25rem;
    }
    .polygon-about-details-2{
        width: 90%;
        padding: 0.3rem;
    }
    .polygon-about-details-2 h1{
        font-size: 1.8rem;
    }
    .polygon-about-details-2 p{
        font-size: 1.1rem;
    }
    .polygon-about-details-2 li{
        font-size: 1.2rem;
    }
    .polygon3{
        height: 18rem;
        width: 90%;
        transform: translateX(0);
    }
    .polygon-about-details-3{
        height:75%;
        width:100%;
        overflow: hidden;
        padding: 0.4rem;
    }
    .polygon-about-details-3 h1{
        font-size: 1.6rem;
    }
    .polygon-about-details-3 p{
        font-size: 0.9rem;
    }
    .child img{
        height: 7rem;
        width: 7rem;
        transform: translateX(11rem);
    }
}

@media screen and (max-width:780px) {
    .child img{
        height: 7rem;
        width: 7rem;
        transform: translateX(11rem);
    }
}
@media screen and (max-width:600px) {
    .child img{
        height: 7rem;
        width: 7rem;
        transform: translateX(8rem);
    }
}
@media screen and (max-width:500px) {
    .skill-title{
        margin-top: 4rem;
        font-size: 2rem;
        width: 100%;
    }
    .polygon1{
        clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 20rem;
    }
    .polygon-about-details-1{
        padding: 0.7rem;
    }
    .polygon-about-details-1 h1{
        font-size: 1.6rem;
    }
    .polygon-about-details-1 p{
        font-size: 0.9rem;
    }
    .polygon2{
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 25rem;
    }
    .polygon-about-details-2{
        width: 90%;
        padding: 0.5rem;
    }
    .polygon-about-details-2 h1{
        font-size: 1.8rem;
    }
    .polygon-about-details-2 p{
        font-size: 1rem;
    }
    .polygon-about-details-2 li{
        font-size: 0.9rem;
    }
    .polygon3{
        height: 18rem;
        width: 90%;
        transform: translateX(0);
    }
    .polygon-about-details-3{
        height:75%;
        width:100%;
        overflow: hidden;
        padding: 0.4rem;
    }
    .polygon-about-details-3 h1{
        font-size: 1.4rem;
    }
    .polygon-about-details-3 p{
        font-size: 0.8rem;
    }
    .child img{
        height: 7rem;
        width: 7rem;
        transform: translateX(7rem);
    }
}
@media screen and (max-width:400px) {
    .polygon-about-details-2 p{
        font-size: 0.9rem;
    }
    .polygon-about-details-2 li{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:450px) {
    .child img{
        height: 7rem;
        width: 7rem;
        transform: translateX(6rem);
    }
    
}

@media screen and (max-width:300px) {
    .skill-title{
        padding: 3rem;
        font-size: 1.5rem;
    }
    .polygon1{
        clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 20rem;
    }
    .polygon-about-details-1{
        padding: 0.5rem;
    }
    .polygon-about-details-1 h1{
        font-size: 1.8rem;
    }
    .polygon-about-details-1 p{
        font-size: 0.9rem;
    }
    .polygon2{
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        width: 95%;
        height: 25rem;
    }
    .polygon-about-details-2{
        width: 90%;
        padding: 0.5rem;
    }
    .polygon-about-details-2 h1{
        font-size: 1.8rem;
    }
    .polygon-about-details-2 p{
        font-size: 0.9rem;
    }
    .polygon-about-details-2 li{
        font-size: 0.7rem;
    }
    .polygon3{
        height: 15rem;
        width: 90%;
        transform: translateX(0);
    }
    .polygon-about-details-3{
        height:75%;
        width:100%;
        overflow: hidden;
        padding: 0rem;
    }
    .polygon-about-details-3 h1{
        font-size: 1.2rem;
    }
    .polygon-about-details-3 p{
        font-size: 0.7rem;
    }
    .child img{
        height: 7rem;
        width: 7rem;
        transform: translateX(5rem);
    }
}