.navbar-container{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.navbar-name{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 3rem;
    color: white;
    font-weight: 600;
}
.navbar-name span{
    color: #FF204E;
}
.navbar-buttons{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    gap: 5rem;
    justify-content: center;
}
.navbar-buttons input{
    width: 8rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    font-size: 1.5rem;
}
.navbar-buttons input:hover{
    scale: 1.3;
    box-shadow: 8px 15px 20px black;
}
@media screen and (max-width:500px) {
    .navbar-container{
        flex-direction: column;
    }
    .navbar-name{
        width: 100%;
        font-size: 2.2rem;
        padding: 1rem;
    }
    .navbar-buttons{
        width: 100%;
        gap: 3rem;
    }
    .navbar-buttons input{
        width: 6rem;
        height: 2rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width:300px) {
    .navbar-container{
        flex-direction: column;
    }
    .navbar-name{
        width: 100%;
        font-size: 1.8rem;
        padding: 3rem;
    }
    .navbar-buttons{
        width: 100%;
        gap: 1.4rem;
    }
    .navbar-buttons input{
        width: 4.5rem;
        height: 2rem;
        font-size: 1rem;
    }
}
